<h3><%= @survey.title %></h3>

<a href="/survey/<%= @survey.id %>/edit"><span class="btn btn-warning">Edit Survey</span></a>

<form action="/survey/success" method="post">
  <% @survey.questions.each do |question| %>
    <% if question.question_type == 'text' %>
      <div class="form-group">
        <label for="question<%= question.id %>"><%= question.description %></label>
        <input type="text" id="question<%= question.id %>" class="form-control">
      </div>
    <% else %>
      <div class="form-group">
        <label for="question<%= question.id%>"><%= question.description %></label>
        <% question.choices.each do |choice| %>
          <input type="radio" name="question<%= question.id%>choice" value="<%=choice%>">
          <label><%= choice %></label>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <button type="submit">Submit</button>
</form>
