<h3><%= @survey.title %></h3>
<div class="row">
  <div class="col-md-6">
    <h4>Survey Questions:</h4>
    <form action="/survey/<%=@survey.id %>/edit" method="post">
      <input type="hidden" name="_method" value="patch">
    <% x = 1 %>
    <% @survey.questions.each do |question| %>
      <div class="form-group">
        <p><%= question.description %></p>
        <label for="new_description<%=x%>">Change Question?</label>
        <input id="new_description<%=x%>" type="text" name="new_description<%=x%>">
      </div>
      <% x += 1 %>
    <% end %>
      <button type="submit">Update</button>
    </form>
  </div>
  <div class="col-md-6">
    <% @survey.questions.each do |question| %>
    <div class="form-group">
      <form action="/survey/<%=@survey.id %>/edit" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value="<%=question.id%>">
        <button type="submit">Delete Question</button>
      </form>
    </div>
    <% end %>
  </div>
</div>
