<h3><%= @survey.title %></h3>
  <h4>Survey Questions:</h4>
    <form action="/survey/<%=@survey.id %>/edit" method="post">
      <input type="hidden" name="_method" value="patch">
    <% x = 1 %>
    <% @survey.questions.each do |question| %>
      <div class="form-group">
        <p><%= question.description %></p>
        <label for="new_description<%=x%>">Change Question?</label>
        <input id="new_description<%=x%>" type="text" name="new_description<%=x%>">
      </div>
      <% x += 1 %>
    <% end %>
      <button type="submit">Update</button>
    </form>
  <form action="/survey/<%=@survey.id %>/edit" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <label for="select-question">Select a Question</label>
      <select class="select-question" name="select-question" type='text'>
        <% @survey.questions.each do |question| %>
          <option value="<%= question.id %>"><%= question.description %></option>
        <% end %>
      </select>
      <button type="submit">Delete Question</button>
    </div>
  </form>
<form action="/survey/<%= @survey.id %>/edit" method="post">
  <label for="new_question">Add a Question?</label>
  <input type="text" name="new_question">
  <button type="submit">Add</button>
</form>
<form action="/" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">
  <button type="submit" class="btn btn-danger">Delete Survey</button>
</form>
